body {
  margin: 0;
  padding: 0;
  font-family: 'Saira', sans-serif;
  background: linear-gradient(
      234.36deg,
      rgba(12, 12, 76, 0.5) 2.69%,
      rgba(6, 6, 6, 0) 43.67%
    ),
    radial-gradient(
      168.67% 168.67% at 48.89% 54.41%,
      rgba(78, 32, 130, 0.5) 0%,
      rgba(12, 12, 76, 0.5) 71.88%
    ),
    #080817;
  background-repeat: no-repeat;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
